@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #EAEAEA;
}

p {
  font-family: var(--font-lato);
}

label {
  font-family: var(--font-koulen);
  padding-top: 10px;
}

input, select {
  background-color: transparent;
  border: 1px black solid;
  font-family: var(--font-lato);
  padding: 4px;
}

.receipt:before{
  background: 
        linear-gradient(-45deg, #fff 16px, red 16px, blue 16px,  transparent 0), 
        linear-gradient(45deg, #fff 16px, transparent 0);
      background-position: left top;
      background-repeat: repeat-x;
      background-size: 22px 32px;
      content: " ";
      display: block;

      height: 32px;
  width: 100%;

  position: relative;
  bottom: 25px;
  left:0;
}
